<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证iframe引入其它网站系统效果</title>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
<iframe height="100" width="100%" frameborder="0" src="header.html">您的浏览器不支持  iframe 标签。</iframe>
<iframe height="670" width="100%" frameborder="0" src='http://172.16.11.212:3000'>您的浏览器不支持  iframe 标签。</iframe>
<!--&idNumber=140322196909042951-->
</body>

</html>